.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(215, 215, 215);
  padding: 20px 40px;
  box-sizing: border-box;
  border-top: 1px solid rgba(0,0,0,0.1);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
  color: #2e363e;
}

.nav__notification{
  position: absolute;
  left: 15px;
  bottom: 15px;
}

.noti{
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  display: flex;
  position: absolute;
  left: 35px;
  bottom: 30px;
  }



  